*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6fb;
}

/* Header */
header{
    background:#232d3f;
    color:white;
    text-align:center;
    padding:20px;
}

header h1{
    font-size:45px;
}

/* Main Container */
.container{
    width:90%;
    margin:40px auto;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

/* Cards */
.card{
    background:white;
    width:420px;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card h2{
    margin-bottom:20px;
    font-size:35px;
}

/* List */
.card ul{
    list-style:none;
}

.card li{
    margin:15px 0;
}

/* PDF Buttons */
.card a{
    display:block;
    text-decoration:none;
    background:#3568e0;
    color:white;
    padding:12px 18px;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.card a:hover{
    background:#274fb3;
    transform:translateX(5px);
}

/* Back Button */
.back-btn{
    display:inline-block;
    margin:30px;
    text-decoration:none;
    background:#3568e0;
    color:white;
    padding:12px 22px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.back-btn:hover{
    background:#274fb3;
}
